<header class="header">
    <div class="header-logo">Cool store</div>
    <nav class="header-nav">
        <ul>
            <li class="{% if request.path == '/' %} active {% endif %}">
                <a href="/">Главное</a>
            </li>
            <li class="{% if request.path == '/catalog' %} active {% endif %}">
                <a href="/catalog">Каталог</a>
            </li>
        </ul>
    </nav>
    {% if request.user.is_anonymous %}
        <div><a href="/login">Войти</a></div>
    {% else %}
        <div><a href="/logout">Выйти</a></div>
    {% endif %}
</header>